<div class="container-fluid" style="margin: 50px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default" style="height: 700px">
        <div class="panel-body">
          <div style="height: 640px">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td>Select</td>
                  <td>Name</td>
                  <td>Learned</td>
                  <td>Count</td>
                  <td>Option</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="lib in libs">
                  <td>
                    <input type="radio" ng-click="changeChoosenLibrary(lib.name)" ng-checked="lib.checked">
                  </td>
                  <td>{{ lib.name }}</td>
                  <td>{{ lib.learned }}</td>
                  <td>{{ lib.total }}</td>
                  <td>
                    <button title="Reset learned to zero" class="btn btn-default btn-sm reset" style="padding: 0 5px;" data-name="{{ lib.name }}" ng-click="reset(lib.name)">Rst</button>
                    <button title="Remove this list" class="btn btn-default btn-sm delete" style="padding: 0 5px;" data-name="{{ lib.name }}" ng-click="remove(lib.name)">Del</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center">
            <a href="#/main" class="btn btn-default">Home</a>
            <button class="btn btn-default" ng-click="prev()" ng-disabled="prevDisabled">Prev</button>
            <label ng-bind="info">info</label>
            <button class="btn btn-default" ng-click="next()" ng-disabled="nextDisabled">Next</button>
            <button class="btn btn-default" ng-click="openFile()">Import</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="file" style="width: 0; height: 0;" onchange="angular.element(this).scope().import(this)">
