<div class="container-fluid" style="margin: 50px;">
  <div class="row">
    <div class="col-xs-5">
      <div class="panel panel-default" style="height: 700px">
        <textarea style="resize: none; height: 630px; width: 100%; border: 1px solid #ccc;" ng-model="input"></textarea>
        <div class="text-center" style="margin: 0 5px;">
          <label ng-bind="info"></label>
          <br>
          <a href="#/main" class="btn btn-default pull-left">Home</a>
          <button class="btn btn-default" ng-click="parse()" ng-disabled="!input.length">Parse</button>
          <button class="btn btn-default pull-right" ng-click="add()" ng-disabled="!goodWords.length">Add</button>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default" style="height: 700px; overflow-y: auto;">
        <div class="panel-heading">
          <h6>Good Words</h6>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <tr ng-repeat="word in goodWords" style="cursor: pointer;">
              <td ng-click="changeCheck(word)">
                <input type="checkbox" class="goodWords" ng-checked="wordsCheck[word]" onclick="event.stopPropagation()" data-word="{{ word }}">
              </td>
              <td ng-click="changeCheck(word)" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;">
                {{ word }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default" style="height: 700px; overflow-y: auto;">
        <div class="panel-heading">
          <h6>Bad Words</h6>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <tr ng-repeat="word in badWords">
              <td>{{ word }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
