<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-xs-5">
      <div class="panel panel-default" style="height: 700px">
        <textarea style="resize: none; height: 660px; width: 100%; border: 1px solid #ccc;" ng-model="input"></textarea>
        <div class="text-center">
          <a href="#/main" class="btn btn-default">Home</a>
          <button class="btn btn-default" ng-click="parse()">Parse</button>
          <button class="btn btn-default" ng-click="add()">Add</button>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default" style="height: 700px; overflow-y: auto;">
        <div class="panel-heading">
          <h6>Good Words</h6>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <tr ng-repeat="word in goodWords">
              <td ng-click="changeCheck(word)">
                <input type="checkbox" class="goodWords" ng-checked="{{ testCheck(word) }}" onclick="event.stopPropagation()" data-word="{{ word }}">
              </td>
              <td ng-click="changeCheck(word)">{{ word }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default" style="height: 700px; overflow-y: auto;">
        <div class="panel-heading">
          <h6>Bad Words</h6>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <tr ng-repeat="word in badWords">
              <td>{{ word }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
