<div class="container-fluid" style="margin: 50px;">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default" style="height: 700px">
        <div class="panel-body">
          <div class="text-center" style="margin-top: 100px;">
            <h1 ng-bind="word" ng-style="wordStyle" style="font-size: 50px; font-weight: bold;"></h1>
          </div>
          <div class="text-center" style="margin-top: 200px;">
            <button class="btn btn-default btn-lg" ng-click="remember(true)" ng-style="rememberStyle">
              <u>R</u>emember
            </button>
            <button class="btn btn-default btn-lg" ng-click="remember(false)" ng-style="rememberStyle">
              <u>N</u>ot at All
            </button>
            
            <button class="btn btn-default btn-lg" ng-click="check(true)" ng-style="checkStyle">Yes, <u>R</u>ight</button>
            <button class="btn btn-default btn-lg" ng-click="check(false)" ng-style="checkStyle"><u>N</u>o, it's not</button>
            
            <button class="btn btn-default btn-lg" ng-click="check(false)" ng-style="nextStyle"><u>N</u>ext</button>
          </div>
          <div class="text-center" style="margin-top: 100px;">
            <label ng-bind="info"></label>
          </div>
          <div class="text-center">
            <a href="#/main" class="btn btn-default">Home</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default" style="height: 700px; overflow-y: auto;">
        <div class="panel-body" ng-bind-html="def"></div>
      </div>
    </div>
  </div>
</div>

<shortcut></shortcut>
